[2020-09-09 14:33] lukasmrtvy opened #85 "(feat): watch for configmaps/secrets/crs for config change"
Would be nice to have feature for watching configmaps/secrets/CRs with special annotation for dynamic config change.

Examples:
vault ( bank-vault ) - https://github.com/banzaicloud/bank-vaults/blob/master/operator/deploy/config-jwt-groups.yaml
argocd - https://argoproj.github.io/argo-cd/operator-manual/argocd-rbac-cm.yaml
prometheus-operator - its using CRs ..

[2021-08-16 21:35] wasaga opened #1 "authenticate Ingress / Certs"
It should be possible to define an Ingress for authenticate service, so that certificate manager would generate certificates for this endpoint.

[2021-08-19 19:06] wasaga opened #7 "support HTTPS upstream backends"

[2021-08-23 15:00] wasaga opened #4 "support Ingress.spec.defaultBackend"
https://pkg.go.dev/k8s.io/api/networking/v1#IngressSpec

I do not think we should support this.

[2021-08-30 14:47] wasaga opened #6 "remove stale resources"
# Problem

There is no way to learn about deleted objects within the `controller-runtime` API, which may cause stale routes to stick indefinitely in the Pomerium databroker configuration.

# Background

- K8S API Server does not keep a history of deleted objects. It only notifies an active Controller about object deletion within a very short period (i.e. 5 minutes) in case there's an active Watch.

[2021-08-30 15:02] wasaga opened #8 "ingress controller databroker leader election"
**Is your feature request related to a problem? Please describe.**

In case there might be concurrent modifications to the databroker object, such as i.e. multiple ingress-controller instances that set a single object key, it is desirable to have a mechanism that would prevent an occasional overwrite of object contents by implementing an optimistic locking.

**Describe the solution you'd like**

W

[2021-08-31 14:52] renovate[bot] opened #12 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update actions/setup-go digest to f279813](../pull/325)
 - [ ] [chore(deps): update golang digest to

[2021-09-01 16:10] #8 closed, assigned to wasaga

[2021-09-01 19:15] #6 closed, assigned to wasaga

[2021-09-01 19:15] #4 closed, assigned to wasaga

[2021-09-15 18:03] #7 closed, assigned to wasaga

[2021-09-16 15:36] wasaga opened #36 "Ingress status"
**Is your feature request related to a problem? Please describe.**

According to @travisgroth it is common practice to monitor `Ingress.Status` field that would typically present current endpoint IP address / DNS, mainly to update DNS entry records.

Pomerium ingress operator has no knowledge wrt the name of the pomerium service and its endpoints. Therefore, this information has to be supplied ext

[2021-09-17 20:03] wasaga opened #40 "support To in Ingress annotation"
**Is your feature request related to a problem? Please describe.**

Editing individual routes via Ingress resources may be beneficial to some customers - i.e. integrating with their CI workflows, as it's easy to accomplish as part of i.e. github actions.

Some customers may use serverless endpoints such as cloud run - i.e. see conversation https://pomerium-io.slack.com/archives/CK6SVMPU0/p16318148

[2021-09-23 13:59] travisgroth opened #45 "databroker client TLS configuration options"
**Is your feature request related to a problem? Please describe.**

We don't currently have flags to support customization of TLS client parameters when connecting to the databroker..  This means we can't support databroker certs which are not signed with a public root CA challenging.  Though not universally true, most of our users are utilizing an internal CA of some sort for databroker.

**Descr

[2021-09-23 14:04] travisgroth opened #46 "Accept env vars in addition to cli flags"
**Is your feature request related to a problem? Please describe.**

Sensitive data such as the `shared-secret` parameter should not be passed via command line flag.  We should provide a more secure option.

**Describe the solution you'd like**

Accept all CLI flags as SCREAMING_SNAKE_CASED env vars.  In kubernetes environments this is the best way to pass in secrets if there is no dedicated config

[2021-09-23 14:20] travisgroth opened #47 "Support multi-arch release process"
**Is your feature request related to a problem? Please describe.**

We use goreleaser to automate much of our release process.  It supports multiple platforms but our `envoy` embed setup assumes we're only building a single architecture.  This leads to incompatible envoy binaries being embedded.

**Describe the solution you'd like**

Use an embed setup similar to Pomerium core to facilitate the mu

[2021-09-23 18:31] #36 closed, assigned to wasaga

[2021-09-30 19:38] #40 closed, assigned to wasaga

[2021-10-01 02:34] #45 closed, assigned to nobody

[2021-10-01 02:34] #46 closed, assigned to nobody

[2021-10-01 02:34] #1 closed, assigned to wasaga, travisgroth

[2021-10-05 20:18] wasaga opened #60 "[low] check TLS cert secret actually matches the host"
**Is your feature request related to a problem? Please describe.**

apparently `cert-manager` would not complain if you specify an ingress and define `host` that does not match the contents of the referenced secret.

pomerium would then bind this route to the first cert it has in the chain.

**Describe the solution you'd like**

we probably should perform this check and consider it an invalid conf

[2021-10-07 02:29] wasaga opened #65 "add rewrite host header annotations"
currently `rewrite_host` group of options are not supported.

Blocked by https://github.com/pomerium/pomerium-console/issues/2104

[2021-10-07 15:30] #47 closed, assigned to wasaga

[2021-10-19 00:04] #65 closed, assigned to wasaga

[2021-10-19 20:49] renovate opened #70 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-10-19 21:23] wasaga opened #71 "kubernetes service proxy bypass"
**Is your feature request related to a problem? Please describe.**

Currently ingress controller defines a single upsteam for a service, in form of `http://service.namespace.svc.cluster.local`.
The requests therefore are being proxied by the Kubernetes and distributed between the pods, which introduces an extra unnecessary network proxy. Also load balancing and health check options are largely mea

[2021-10-19 21:39] #70 closed, assigned to nobody

[2021-10-19 21:40] wasaga opened #72 "additional load balancer configuration annotations"
**Is your feature request related to a problem? Please describe.**

Currently it is not possible to fine tune load balancer parameters.

**Describe the solution you'd like**

Expose least_request_lb_config, ring_hash_lb_config and maglev_lb_config options.

[2021-11-08 15:05] abuzhynsky opened #86 "Proposal: Provide a secure storage for policy headers"
Currently `pomerium-operator` doesn't provide a secure way to store policy `set_request_headers` key.

Maybe it makes sense to add a new annotation like:

[code]

which will point at the existing secret in the same namespace as the ingress/service. The secret will contain the sensitive bits of a policy like headers or a client certificate.

Example secret:

[code]

I can help with the implementati

[2021-11-12 05:45] xeor opened #89 "Reconsider deprecating the operator"
**Is your feature request related to a problem? Please describe.**

Deprecating of the operator

**Describe the solution you'd like**

I see why the ingress-controller seams like a more logical solution, but deprecating the operator will break a lot of workflows!

**Describe alternatives you've considered**

Not using pomerium anymore :(

**Explain any additional use-cases**

I use the operator wi

[2021-11-12 15:32] travisgroth commented on #89
Hi @xeor - we appreciate the enthusiasm.

Fortunately, there's an option to run the ingress controller in an operator-compatible way and we don't plan on removing that.  99% of the logic is identical so the overhead of two projects to differentiate the behavior wasn't worth doing.

As mentioned in the [deprecation notice](https://github.com/pomerium/pomerium-operator#warning-deprecation-notice), t

[2021-11-14 00:10] xeor commented on #89
Thanks for the answer! I'm very happy that there still is a solution :)

I was getting
`{"level":"info","ts":1636847221.7454927,"logger":"controller.ingress","msg":"deleted from pomerium","reconciler group":"networking.k8s.io","reconciler kind":"Ingress","name":"http1-http","namespace":"default","reason":"not marked to be managed by this controller"}` after following the procedure of upgrading.

I

[2021-11-14 00:14] xeor commented on #89
Sometimes it just helps talking to the screen... :p I removed the tls references from my ingress and it all started working. Case closed :D

[2021-11-14 00:14] #89 closed

[2021-12-01 09:26] sherifkayad opened #94 "ingress.pomerium.io/allowed_idp_claims doesn't work anymore"
## What happened?
We were heavy users of the Pomerium Operator until it got deprecated in favor of the Ingress Controller. Everything was working smoothly and now we wanted to migrate to the Ingress Controller.

We have a setup consisting of Nginx as the main Ingress Controller and honestly we don't want to change that! .. So we used the Forward Auth mechanism and we want to keep using it.

Among

[2021-12-02 10:43] sherifkayad commented on #94
@travisgroth an update here:
After some digging in the Controller code base, I found out that the probable right syntax is as follows:
[code]

With the allowed IDP Claims as a JSON Object the controller admits that and doesn't complain. However, the problem now is that users of either group won't be authorized! .. There's definitely something wrong here

[2021-12-02 11:24] sherifkayad commented on #94
Another update:
Actually the simplest annotation `ingress.pomerium.io/allow_any_authenticated_user: "true"` doesn't work for me. I keep getting the infinite redirect loop indicating that it's not working.

My Ingress is as follows:
[code]

[2021-12-02 11:41] sherifkayad commented on #89
@travisgroth to be honest I can't seem to migrate by any means to the Ingress Controller. Let me summarize why:
- We have a forwardauth setup with Nginx Ingress as the main ingress and we would like to keep it that way
- Nginx is behind an AWS ALB that's handling the SSL termination (traffic to Nginx comes on non-secure HTTP ports)
- With the old Operator we were able to achieve all what we needed

[2021-12-02 11:56] sherifkayad opened #95 "Support From & To annotations"
**Is your feature request related to a problem? Please describe.**

Running the Controller in the Operator mode and using an Nginx Ingress that DOESN'T terminate SSL (e.g. using an AWS ALB that handles that), requires not using an SSL block in the Ingress definition and hence the need to manually state the `From` piece of the policy.

Also we might need to get rid of the Nginx `auth-url` and `auth

[2021-12-02 22:11] travisgroth commented on #94
A few things going on in this issue.

1.  Change in annotation syntax
2. Infinite redirect for unauthorized routes
3. Authorization policy not applying as expected

In reverse order:

(3) The issue is that we're [defaulting](https://github.com/pomerium/ingress-controller/blob/369a6ca58c7b76394e927d551535a2cee1531a22/pomerium/ingress_to_route.go#L131-L132) to `Path` based `pathType` behavior for `I

[2021-12-03 07:20] sherifkayad commented on #94
@travisgroth Indeed using `Prefix` as the `PathType` fixed (3)! .. Thanks so much. I didn't know that the PathType had any impact on the Pomerium Policy generated by the Controller.

With regards to (1) I don't find it a big deal that the syntax changes, I think we just need to ensure that this is reflected in the documentation of the annotations somewhere.

As for (2) Yeah let's track that in the

[2021-12-03 07:56] sherifkayad commented on #94
@travisgroth I think we might have a (4) 😢 .. that's basically defining regexes in paths. I will open a separate ticket for that.

[2021-12-03 08:09] sherifkayad opened #96 "Ingress Paths with Regex don't work"
## What happened?
Again on a migration path from the Operator to the Controller (related to the discussion we had in #94), it seems like the new Ingress Controller doesn't support Ingresses with regex paths nor it allows defining the good old annotation `ingress.pomerium.io/regex` to force Pomerium to interpret the path defined in the Ingress as Regex.

With a regex path in the Ingress e.g. `/.*/a

[2021-12-03 14:20] travisgroth commented on #94
Great.  I think we can change this behavior to default to `Prefix` type matching.  as that would more closely align with user expectations.

Stay tuned on this.

[2021-12-03 17:07] travisgroth commented on #95
Can you elaborate on this?  I'm afraid I'm not following the use case and why you'd need to manually specify a `from`.  The `from` is implicit in the `host` parameter of an ingress rule, and the `to` is implicit in the `backend` of the path definition.  Why would you want them to be different than what the ingress is actually specifying?  Maybe a concrete example would help clarify.

[2021-12-03 23:03] travisgroth commented on #89
@sherifkayad I know we've jumped into a few other threads on these topics but I wanted to address in this issue for visibility in case people wind up reading here.

We do _strongly_ encourage moving to regular ingress mode as it is much easier for us and users to reason about.  Forward auth configurations are the hardest to debug and most prone to error or regressions, unfortunately.  Being outsid

[2021-12-04 10:03] sherifkayad commented on #95
@travisgroth well I can try to explain .. but thinking about it again it might not be that of a great value to pursue this issue further ..
- Regarding the `from` part of the older Operator behavior was that if you were using an Ingress without a TLS (if an external Load Balancer is handling the TLS termination) the rule always gave 401 and we had to explicitly state a `From` to `https://app.mydom

[2021-12-06 13:26] sherifkayad commented on #96
@travisgroth I see you added the label `NeedsDiscussion` .. is there anything I can help with / clarify?

[2021-12-06 16:51] travisgroth commented on #95
I'm not totally following the second use case but that sounds like a workaround at best.  Going to close this.  `to` and `from` should really come from the ingres spec.

[2021-12-06 16:51] #95 closed

[2021-12-06 16:52] travisgroth commented on #96
Not currently.  That is for our team to discuss internally.

[2021-12-09 17:11] wasaga commented on #96
I think we can add an annotation `ingress.pomerium.io/path-regex` which will make any path with `pathType: ImplementationSpecific` treated as regex path.

[2021-12-09 17:24] sherifkayad commented on #96
@wasaga well, that would be great 👍 .. I like this idea a lot.

[2021-12-13 16:46] #96 closed

[2021-12-13 22:15] wasaga commented on #94
you need use `allowed_groups` annotation.

[2021-12-14 07:38] sherifkayad commented on #94
@wasaga as pointed out above, the `ingress.pomerium.io/allowed_idp_claims: '{"groups": ["Team X", "Team Y"]}'` syntax works together with a `Prefix` Ingress PathType.

For me it's fine the documentation just needs to reflect that kinda new syntax with the JSON Object `{}` notation

[2021-12-15 20:38] #94 closed

[2021-12-16 16:14] travisgroth commented on #71
Interestingly, we do need a way to disable this when implemented.  In a service mesh deployment, we should actually use the kubernetes service so the mesh can do its thing.

[2021-12-16 16:50] wasaga commented on #71
Is there a standard way to determine if you're running inside a service mesh?

[2021-12-16 16:54] travisgroth commented on #71
I'm not aware of one.  Nginx implements this as a per-ingress annotation:  https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#service-upstream

[2021-12-20 19:10] wasaga opened #109 "default policy"
**Is your feature request related to a problem? Please describe.**

It may be beneficial to define a default policy that would be applied to an Pomerium-managed Ingress, in case one is not defined.

**Describe the solution you'd like**

[`IngressClass`](https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-class) supports referencing  a CRD for ingress controller customization.

[2022-01-03 17:25] travisgroth commented on #109
From discussion - (2) seems like the right choice for now.

[2022-01-04 00:35] wasaga opened #113 "there should be a way to disable endpoints via annotation"
there should be a way to disable this behaviour via annotation [#71 (comment)](https://github.com/pomerium/ingress-controller/issues/71#issuecomment-995965171)

_Originally posted by @wasaga in https://github.com/pomerium/ingress-controller/issues/112#issuecomment-1004418291_

[2022-01-05 07:13] sherifkayad opened #117 "Regex Paths `^` Prefix and `$` Suffix shouldn't be mandatory or not needed at all"
**Is your feature request related to a problem? Please describe.**

As mentioned in the comment https://github.com/pomerium/ingress-controller/pull/100#issuecomment-1004892693 using a third party Ingress Controller like Nginx and the Pomerium Ingress Controller in an operator mode, using path regexes with the prefix `^` won't be allowed. Also worth mentioning that Nginx is automatically adding tha

[2022-01-05 07:14] sherifkayad commented on #117
@wasaga for your reference and as per my comment on #100

[2022-01-05 18:33] wasaga commented on #117
the regex syntax is currently consistent with core product https://www.pomerium.com/reference/#regex - note the path must be matched in full by the regex, or there would be no match, this is done for security purposes.

in general it's not recommended to introduce an additional heuristic around regular expressions.

[2022-01-06 06:55] sherifkayad commented on #117
@wasaga yeah but this basically means that users of Nginx won't be able to use the Regex functionality with Pomerium in an Operator mode. Any thoughts?

[2022-01-06 07:18] sherifkayad commented on #117
One other possible idea maybe would be letting the path regex be passed via an annotation like the older Operator did e.g. `ingress.pomerium.io/regex`

[2022-01-06 16:57] #71 closed

[2022-01-06 17:18] wasaga commented on #117
the advantage of having regex accepted in path directly is that you may have unlimited amounts of paths. however, you may only have single annotation per ingress object.

[2022-01-06 18:39] sherifkayad commented on #117
@wasaga in that case what would you suggest to tackle the problem at hand? .. I really appreciate how Pomerium in combination with Nginx work perfectly for our case and I would love to keep using that .. so I am definitely open for suggestions how to proceed.

[2022-01-06 18:48] sherifkayad commented on #117
BTW if the solution would be doing it with an annotation, different regexes could be passed using comma (`,`) or something as a separator .. just thinking out loud here

[2022-01-06 19:43] travisgroth commented on #117
Hi @sherifkayad,

While we want to continue to support forward-auth where reasonable, there will always be limits to functionality when trying to cooperate with a third party proxy; especially when sharing an API that isn't intended to be shared.  In this case, our syntax isn't compatible since the regex format of an ingress is implementation specific.  Even if we matched nginx 1:1, it wouldn't wo

[2022-01-07 08:45] sherifkayad commented on #117
@travisgroth I agree 100% with that .. however, I really believe that this one can be solved by enabling an annotation that can override the path in the `paths` section. So basically by default the Pomerium Ingress Controller fetches the Regexes from the Ingress paths, however, the user can be given the ability to override those with an annotation to address the differences that come with each ven

[2022-01-08 02:12] wasaga commented on #109
it doesn't seem default policy would help unblock conformance tests.

[2022-01-10 14:15] #109 closed

[2022-01-10 17:31] #113 closed

[2022-01-13 06:43] sherifkayad commented on #117
@travisgroth any thoughts on my comment above?

[2022-01-18 17:19] #72 closed

[2022-01-19 20:49] calebdoxsey commented on #60
Do we have more details about what the issue is here? What's the configuration that can lead to the problem?

[2022-01-20 20:41] travisgroth commented on #85
After some consideration and the release of our [ingress controller](https://docs.pomerium.io/docs/k8s/ingress.html) I'm not sure that a custom resource type is needed.

Even if you're using Traefik's `IngressRoute`, you should be able to also supply an Ingress that Traefik ignores and Pomerium processes in operator mode.  Please let us know if there's something we're missing about the requirement

[2022-01-25 01:07] wasaga commented on #117
addressed in https://github.com/pomerium/ingress-controller/issues/117

[2022-01-25 16:09] sherifkayad commented on #117
@wasaga with the change introduced in https://github.com/pomerium/pomerium/pull/2966 would there by any todo for the Ingress (of course aside from upgrading the Pomerium version) needs to be done to address my issue here?

[2022-01-25 17:18] wasaga commented on #117
@sherifkayad should get into next minor release of both core and ingress-controller.

[2022-01-26 16:41] vixus0 commented on #85
Yeah that works if we can get Traefik to ignore the Ingress resources that get consumed by Pomerium. That should be doable by defining an IngressClass for the Pomerium controller and using `ingressClassName`, if I'm not mistaken.

[2022-01-26 18:42] travisgroth commented on #85
👍 Yes that would be the idea.

Okay great.  Going to mark this closed then.

[2022-01-26 18:42] #85 closed

[2022-01-28 00:13] wasaga opened #132 "Interop with other Ingress Controllers"
**Is your feature request related to a problem? Please describe.**

Pomerium and Pomerium Ingress Controller provide a feature rich ingress controller with built-in authentication, authorization and audit capabilities. Pomerium uses Envoy as its reverse proxy component and may be relied on for many demanding workflows and configuration options.

There could be situations when it is desirable to ru

[2022-01-29 17:07] romainmeunier opened #133 "Policy definition in a separate Kubernetes resource"
**Is your feature request related to a problem? Please describe.**

 We define routes and policies in the same object ( k8s ingress).

- It doesn't allow RBAC model so a user who defines the route in the Ingress also defines the policy
- It doesn't allow reusable or cluster wide policies

**Describe the solution you'd like**
I see two solutions here :

- Using a CustomResource :

[code]

[code]

-

[2022-01-30 21:07] sherifkayad commented on #117
@wasaga @travisgroth could you please release a new version of the controller that has the fix from the core? I saw that version 0.16.2 of the core was issued a few days ago.

Thanks in advance.

[2022-01-31 14:55] travisgroth commented on #132
I think we could skip (2) and have step (3) insert the `pomerium-proxy` service rather than creating a new one for each ingress.  I'm not sure there's any practical difference and would reduce the number of moving parts.

[2022-01-31 15:28] wasaga commented on #132
how will proxy know which host it's being called for then? the HOST would always be `http://pomerium-proxy` in that case.

[2022-01-31 15:40] travisgroth commented on #132
I was thinking the external proxy would be responsible for ensuring the incoming host header is retained and we match directly on whatever is in the ingress rules.  However, in thinking about it, that might cause issues with routing if using TLS.

That said, we still might have an issue with TLS matching if we provision individual services too.  I'm not familiar enough with the listener config/beh

[2022-01-31 19:22] travisgroth commented on #117
New release is out https://github.com/pomerium/ingress-controller/releases/tag/v0.16.1

[2022-01-31 19:23] #117 closed

[2022-02-01 03:45] desimone commented on #133
Hi @romainmeunier ,

Associating a single policy with multiple routes (and enforcing them in a hierarchical fashion) is currently only supported in pomerium enterprise which has a more sophisticated data model behind it.

Similar to folders, namespaces can contain policies and/or routes. You can enforce policy at any level of the tree hierarchy, and have those policies be applied to the children r

[2022-02-01 11:02] sherifkayad opened #135 "Policy order is not respected with different Ingresses having different Pomerium annotations"
## What happened?
Ingress Controller in Operator Mode and two Ingress objects with two different policies for the same domain:
- One is more specific and only allowing users belonging to certain groups (`Team X` or `Team Y`) for a regex path (`/.*/admin`)
- Two is less specific and allowing all authenticated users for the rest of the paths

Users that don't belong to any allowed group defined on I

[2022-02-01 11:05] sherifkayad commented on #117
@travisgroth @wasaga Unfortunately the fix isn't working as expected 😢 .. There's an edge case that I documented on the ticket #135 .. would be great if you guys can have a look at that.

[2022-02-01 11:22] sherifkayad commented on #135
**Update:**
Using a Path Prefix instead of a Regex for the more specific policy works as expected and unauthorized users are denied access.
[code]

 So I think the problem is only related to Regex paths in combination with others for the same host ..

[2022-02-06 10:35] sherifkayad commented on #135
@travisgroth do you need any further details for your investigation?

[2022-02-07 20:09] sherifkayad commented on #135
@wasaga I totally see what you mean there .. but how would you explain that the old Operator was working just fine and adding the policies in the right order .. i have that as of today in one of my production clusters with the operator and the Ingresses are parsed in their alphabetical name order .. e.g. when I check the generated Secret of the Operator, less permissive policies are listed before

[2022-02-07 21:14] sherifkayad commented on #135
@wasaga well, that sounds like a good approach yeah. Let me know if you work on that approach and want me to test it.

[2022-02-08 07:54] sherifkayad commented on #135
@wasaga sounds great! .. would you take a stab at that?

[2022-02-08 16:21] wasaga opened #139 "ingress controller status"
**Is your feature request related to a problem? Please describe.**

Ingress Controller adds events to the Ingress objects when it reconciles them with Pomerium.
The events may be observed using `kubectl describe` command.

Still, there are certain issues with this approach:

1. Kubernetes API server cleans up older messages, and the Event section becomes empty.
2. It may be beneficial to know the

[2022-02-14 08:03] sherifkayad commented on #135
@wasaga about the ordering issue, would you work on that?

[2022-02-14 17:22] #133 closed

[2022-02-14 18:59] rguichard opened #142 "Wrong certificate exposed"
## What happened?

An Ingress (with Pomerium Ingress Controller) exposes the authenticate Service with a cert-manager-generated certificate but this certificate is not provided to the http client. Instead a self signed certificate (used for communication between Pomerium component) is provided. As if it was a TLS passthrough, the Ingress doesn't terminate the TLS communication.

If I change the in

[2022-02-14 21:58] travisgroth commented on #142
@rguichard can you provide the logs from the ingress controller when it processes that Ingress resource?

[2022-02-14 23:18] rguichard commented on #142
Ingress controller
[code]

Pomerium proxy when I curl, sometimes I get 503, sometimes 302 to my IdP.
[code]

[2022-02-16 14:16] clementblaise opened #144 "Add default certificate option"
**Is your feature request related to a problem? Please describe.**

Having to rely on a certificate per Ingress

**Describe the solution you'd like**

Allow the usage of a default certificate, similar to nginx with the following option

[code]

**Explain any additional use-cases**

I believe it is much more simple to manage a single wildcard for the Ingress Class. Issuing certificate per ingress m

[2022-02-16 16:06] wasaga commented on #144
currently you may just create a wildcard `Certificate` using `cert-manager` to account for automatic renewal, and refer to it in the TLS section of the `Ingress`. Multiple Ingresses may refer to a single TLS secret, and we do support wildcard certificates.

[2022-02-16 16:38] clementblaise commented on #144
Hello @wasaga I agree that's what I did first but the limitation is that it won't work for Ingress outside the namespace, since you cannot load a secret from another namespace. Provisioning a wildcard in each of the namespace that will be using it kind of defeat the purpose.

[2022-02-17 15:02] wasaga commented on #135
@alexfornuto the docs need be updated as per logic in #145

[2022-02-17 23:05] travisgroth commented on #142
I'm not able to reproduce this.  There are some minor tweaks to your original config but they should not be material in which certificate is served.  There's no reference to `pomerium-tls` in any resources that I can find.

1. Set up a self signed CA issuer per https://cert-manager.io/docs/tutorials/acme/pomerium-ingress/#configure-a-private-certificate-issuer
2. config:

[code]

3. I have no `pom

[2022-02-22 07:32] sherifkayad commented on #135
Do you guys know when this one can make it into a release?

[2022-02-22 18:53] wasaga commented on #135
Likely on the week of march 7th

[2022-02-28 17:40] travisgroth commented on #142
Closing for now, pending more info on reproduction.

[2022-03-07 23:52] travisgroth opened #157 "Endpoint list isn't filtered by port"
## What happened?

When relying on the default behavior of building configuration from the endpoint API, ingress rules which point at a service containing _more than one port_ can result in misconfigured upstream service URLs

This happens to show up frequently with Pomerium's Authenticate service as it has a `metrics` port defined in addition to `https`:

[code]

In this example, I believe we int

[2022-03-10 07:51] sherifkayad commented on #135
@wasaga @travisgroth any news on the release?

[2022-03-10 15:56] travisgroth commented on #135
@sherifkayad we're working through one or two other changes that need to be in the next release so, hopefully, in the next week or so.

[2022-03-16 14:22] wasaga opened #164 "set TLS server name by default for secure upstream"
**Is your feature request related to a problem? Please describe.**

Currently, ingress controller selects `ServiceEndpoints` by default, which would mean that Pomerium config would be set to an IP address of a pod and a port.

If the backend is HTTPS (set via `ingress.pomerium.io/secure-upstream` annotation), Pomerium would try to access i.e. `https://10.1.1.50:443` which won't work as there would

[2022-03-17 04:15] #157 closed

[2022-03-17 16:11] #144 closed

[2022-03-17 16:11] travisgroth commented on #144
Closed by #151

[2022-03-18 11:19] sherifkayad commented on #135
hey folks, any updates regarding the release date?

[2022-03-18 20:10] #164 closed

[2022-03-24 20:35] sarasensible opened #172 "Authenticate service throws 404s in version 17.0"
## What happened?
Fresh install of latest ingress controller when using a different namespace than pomerium, got 404s from the authenticate service when redirected from the initial url.  I had it working previously in the pomerium namespace with no additional namespaces specified.

## What did you expect to happen?
I should be redirected to the sign in page with status 200s

## How'd it happen?

I

[2022-03-25 14:47] travisgroth commented on #172
Hi @sarasensible,

I believe this is most directly because the list of namespaces doesn't include pomerium's own, in your values.  We rely on the ingress controller to set up the authenticate route when it is installed, since that allows for cleaner cert-manager and external-dns integrations.  Could you try adding `pomerium` or the appropriate namespace to the `ingressController.config.namespaces`

[2022-03-25 15:00] sarasensible commented on #172
Hey @travisgroth , I installed pomerium in the namespace `tools`, so this does include the namespace it's installed in.  Is this not a supported configuration?

[2022-03-25 15:08] travisgroth commented on #172
Oh, I see.  No, that should just work.

There should not be any difference with the storage backend.

[2022-03-25 16:20] sarasensible commented on #172
I am no longer experiencing this issue with 0.17.0 with Redis enabled and I am not able to reproduce again.  Closing.

[2022-03-28 19:43] sarasensible commented on #172
Reopening since I am experiencing this issue again - discussion in https://discuss.pomerium.com/t/404s-adding-a-new-route-to-existing-working-pomerium-install/94/12 .

[2022-03-29 20:53] boskisam commented on #142
Hi, @travisgroth i am experiencing a similar issue.
In my case i use auto-generated certs for comms between services. In my case i use manually-generated letsencrypt certs.
just installed pomerium helm-chart version 31.0.1 hoping my problems with 421 are fixed, but no luck.
values for helm-chart:
[code]
ingress resource generated by helm installation (get ingress -o yaml), getting it here as an ex

[2022-03-31 06:41] boskisam commented on #142
@travisgroth can we reopen the issue?

[2022-04-06 12:57] sherifkayad opened #177 "No TLS definition on an Ingress object causes errors in the logs"
## What happened?
It seems like the Ingress Controller is expecting that each watched Ingress object is defining a TLS cert (via a secret) and it wants to read the secret and validate it (continously at reconciling).

In my view this behavior should be configurable; basically one SHOULD be able to turn it off e.g. when having a TLS termination at the L7 Loadbalancer level not on the Ingress / Ingr

[2022-04-08 00:48] wasaga commented on #177
@sherifkayad yes we introduced `default-cert` on the controller level and added an additional check for the `tls` section of the `Ingress`. As Pomerium is not a general purpose ingress controller, and is designed to only allow authenticated and authorized access over HTTPS, the expectation is that, in a kubernetes environment, you either have a catch-all controller level default cert or you specif

[2022-04-08 01:06] sherifkayad commented on #177
@wasaga my use case is as described above is not performing any TLS termination on the Ingress level rather at the load balancer level e.g. for a company wide certificate that we use with internal domains and applied as a wild card certificate for anything under my-domain.com e.g. servicex.mydomain.com.

We are running Pomerium in an insecure mode and in mu view such enforcement of using a TLS cer

[2022-04-08 02:35] wasaga commented on #177
@sherifkayad thank you for clarification.

may I ask few more questions so that we would better understand that deployment scenario.

- do you currently use TLS or HTTPS load balancer with a company-wide certificate?
- as described in [our documentation](https://www.pomerium.com/reference/#insecure-server), we recommend using internal certificates between the load balancer and Pomerium as an alter

[2022-04-08 09:28] sherifkayad commented on #177
@wasaga to your questions:
- HTTPS load balancer which is performing the offloading. Traffic would flow using insecure HTTP afterwards in our cluster; in other words services communicate with each other using insecure protocols. We don't believe that we need any TLS communication nor mTLS auth at the moment
- Second point:
  - I am not sure the Load Balancer supports that / we want to do that to b

[2022-04-10 21:03] sherifkayad commented on #177
@wasaga any updates on this one?

[2022-04-11 14:56] wasaga commented on #132
related: https://github.com/pomerium/ingress-controller/issues/132

[2022-04-11 22:38] wasaga commented on #177
@sherifkayad we are discussing internally how to best approach this and some other related issues in a consistent manner, we should have an update soon.

[2022-04-11 22:57] sherifkayad commented on #177
@wasaga great news! Keep me posted.

[2022-04-21 23:35] sherifkayad commented on #177
@wasaga @desimone any updates here? It's becoming quite critical for us 😢

[2022-04-22 00:53] desimone commented on #177
Hi @sherifkayad  -- We plan to support insecure mode behavior in order to be consistent with Pomerium core's. We plan to include it in our next minor release.

[2022-04-22 07:25] sherifkayad commented on #177
@desimone is there a time plan already for approximately when this minor release would be issued?

[2022-04-26 12:24] vixus0 opened #184 "Feature request: allow the controller to provision TCP routes"
**Is your feature request related to a problem? Please describe.**

The ingress controller works perfectly for provisioning regular `https://` routes, but currently has no way to provision `tcp+https://` routes for use with Pomerium's TCP proxying functionality. The only way of provisioning these routes is specifying them in the Helm values at deploy time.

**Describe the solution you'd like**

I'

[2022-04-27 15:57] wasaga commented on #184
I think we should stick to using `Ingress`, and just add a new annotation `ingress.pomerium.io/tcp-service: true` that would create a `tcp+https` route.

Using `Ingress` allows us to publish events related to the state of the Ingress (i.e. if there are some configuration errors), and use 3rd party services such as `cert-manager` for automatic certificate provisioning.

[2022-05-01 16:22] WojoInc opened #188 "Support KubernetesServiceAccountTokenFile in Ingress Annotation"
**Is your feature request related to a problem? Please describe.**

Currently the example for securing the [Kubernetes Dashboard](https://www.pomerium.com/guides/kubernetes-dashboard.html) does not work when using the Pomerium ingress controller. It can be made to work by specifying `ingress.pomerium.io/kubernetes_service_account_token` as an annotation (would require adding it as a supported anno

[2022-05-02 14:47] wasaga opened #190 "Secret Support"
**Is your feature request related to a problem? Please describe.**

Currently additional Pomerium route parameter such as headers, certs, tokens etc must be set via plaintext annotations to the `Ingress` resource, and it is impossible to link it with a k8s `Secret`.

We already support referencing secrets for annotations related to custom TLS data, that would extend it to other fields with potenti

[2022-05-02 15:16] #177 closed

[2022-05-02 21:29] wasaga commented on #184
ok its way more complicated then I thought initially, it's won't make it to 0.17.2 minor release.

[2022-05-03 14:46] wasaga commented on #188
Thank you @WojoInc for pinpointing that issue and PRs.

As configuration is replicated across various Pomerium components, we cannot rely on `_file` configuration fields, and they exist for historical reasons only.

We discussed the issue you raised and would like to generalize it into a more generic solution to handling secrets in the `Ingress` resource, similar to referencing TLS secrets via ann

[2022-05-03 16:17] wasaga opened #192 "bump controller-runtime tools"
There was a major change in sigs.k8s.io/controller-tools and the project need be upgraded to latest version.
- Current toolset does not work on darwin/arm64
- binary distribution of tools that launch k8s tools are gone

[2022-05-03 19:37] wasaga opened #193 "do not require TLS cert for HTTP01 solvers"
## What happened?

Apparently HTTP01 solver was broken when we enforced TLS certs for the ingress.

[code]

[code]

## What did you expect to happen?

## How'd it happen?

1. define HTTP01 issuer
2. request new certificate

## What's your environment like?

Pomerium Ingress 0.17.0

## What did you see in the logs?

[code]

[2022-05-04 23:33] #193 closed

[2022-05-04 23:52] wasaga opened #197 "validate Ingress parameter combination"
**Is your feature request related to a problem? Please describe.**

Not all combinations of parameters are compatible, i.e.

1. TCP routes do not support certain annotations such as `secure_upstream`
2. `prefix_rewrite` would only affect routes that have `pathType: Prefix`
3. there's likely more

It is relatively easy to make a mistake (i.e. when starting from a template or example),
and may be im

[2022-05-05 03:19] #184 closed

[2022-05-05 15:27] wasaga commented on #188
closed by https://github.com/pomerium/ingress-controller/pull/198

[2022-05-05 15:27] #188 closed

[2022-05-05 16:41] desimone commented on #197
We should have a single source of "validation" truth if possible. Probably a lot of subtleties here.

- We also need to consider and account for the envoy dependency.
- We have multiple passes of Go objects to Protobuf and vice versa

Can we abstract the validation code we have across several packages (core, console, ingress-controller) into a centralized validation package in core that can be imp

[2022-05-05 16:43] desimone commented on #197
Let's take a first pass for sizing before starting work on this.

[2022-05-07 22:26] WojoInc opened #205 "Ingress fails upsert with k8s token annotation"
## What happened?

Attempting to add an Ingress resource using the new `ingress.pomerium.io/kubernetes_service_account_token_secret` annotation leads to errors on upsert, and pomerium fails to apply any changes.

## What did you expect to happen?

Ingress to be updated with the new annotation, and k8s service account token to be populated from provided secret.

## How'd it happen?

1. Created opaq

[2022-05-10 00:26] wasaga commented on #139
### NGINX
- https://www.nginx.com/products/nginx/live-activity-monitoring/
- https://docs.nginx.com/nginx-ingress-controller/logging-and-monitoring/status-page/

### Traefik
- https://doc.traefik.io/traefik/operations/dashboard/

[2022-05-10 03:05] wasaga commented on #205
@WojoInc thank you for feedback, agree we should just skip a non-TLS certs here, but that check would have to be migrated up the chain; I'll prep a fix with integration test shortly.

[2022-05-11 23:34] desimone commented on #190
Is this complete?

[2022-05-12 15:30] #190 closed

[2022-05-16 22:21] #205 closed

[2022-06-08 18:35] wasaga opened #234 "allow dynamic namespace customization"
**Is your feature request related to a problem? Please describe.**

Currently, Ingress controller accepts namespaces to watch for Ingress resources
via `--namespaces` runtime option, which may be manually provided via Deployment manifest
or Helm chart parameter.

**Describe the solution you'd like**

As part of consolidating all Pomerium bootstrap configurations in a new `Pomerium Settings` CRD,
a

[2022-06-20 20:24] wasaga opened #244 "Publish Settings CRD to schemastore"
**Is your feature request related to a problem? Please describe.**

IDEs such as VSCode provide syntax and help for known file formats, including Kubernetes objects.
![image.png](https://images.zenhubusercontent.com/600622a9c28f517c8c6081c9/39d32907-572c-4640-8e53-97edfa6f0ea5)

It would be useful to provide contextual help to users of the Pomerium Settings CRD, as we already have a [detailed Open

[2022-06-21 14:10] sherifkayad commented on #135
Folks, sorry for the late feedback on my end, as of Pomerium `0.17.3` and Ingress Controller `0.17.3` (Helm Chart version `31.2.2`) that one seems to be fixed and everything works like a charm.

Thanks, guys.

[2022-06-22 21:02] wasaga opened #252 "TLS Certificates"
## Is your feature request related to a problem? Please describe.

Currently, in a k8s environment, TLS certs may be provided via the following means:

1. Settings CRD `certificates` array that refers to secrets containing certificates.
2. default-cert annotation for an `ingressClass` associated with the `Ingress`.
3. `tls` section in the `Ingress` configuration.

Additionally:
- In case there is

[2022-06-28 20:14] desimone commented on #132
Wildcard routing related:
- https://github.com/pomerium/pomerium/issues/659
- https://github.com/pomerium/pomerium/issues/1677

[2022-06-30 02:43] wasaga opened #277 "re-initialize the ingress controller if bootstrap secrets changed"
## What happened?

perpetual error renewing lease if bootstrap secrets are rotated.

## What did you expect to happen?

when bootstrap secrets are rotated, an ingress controller has to restart as its databroker connection is no longer valid.

## How'd it happen?

rotate secrets, the bundled pomerium would be updated, but ingress controller would no longer be able to talk to the databroker.

## Wha

[2022-07-06 16:53] wasaga opened #270 "move OPA validation to core"
The following code block causes `ingress-controller` have OPA as a direct dependency.
We should move this function into core, so that OPA versioning would be dictated by core Pomerium, and not bumped independently.

https://github.com/pomerium/ingress-controller/blob/fa5a1a3ef9fb29812beafa7ffa77163ced59d864/pomerium/ingress_annotations.go#L192-L205

[2022-07-12 21:19] alexfornuto opened #281 "Clean up Settings Spec Descriptions"
Review and update the descriptions in https://github.com/pomerium/ingress-controller/blob/main/config/crd/bases/ingress.pomerium.io_pomerium.yaml.

[2022-07-18 14:50] #252 closed

[2022-07-18 20:40] calebdoxsey opened #296 "quick-start is wrong"
## What happened?

Tried following the quick start on the ingress controller.

This gives a 404:

[code]

Applying the IdP gives error:

[code]

## What did you expect to happen?

To have instructions that yield a functioning ingress controller.

[2022-07-18 21:18] wasaga commented on #296
quickstart: https://github.com/pomerium/documentation/pull/67/files
it looks like you're following the `README.md` in this repo which is outdated and is waiting for the following PR to be updated. https://github.com/pomerium/ingress-controller/pull/294

[2022-07-19 22:08] #296 closed

[2022-07-19 22:10] #281 closed

[2022-07-26 21:24] calebdoxsey commented on #270
Open source does not use these methods. I don't understand why we would add code to the open source that's only used by the ingress controller.

[2022-07-27 15:47] #277 closed

[2022-07-28 17:04] #270 closed

[2022-08-19 18:26] wasaga opened #335 "ignore kubernetes_service_account_token_secret type"
**Is your feature request related to a problem? Please describe.**

secret produced by the `ServiceAccount` is of type `kubernetes.io/service-account-token`, however we're currently rejecting it which forces the user to copy it to a new `Opaque` secret.

**Describe the solution you'd like**

Ignore the secret type, as long as it has the `token` key.

[2022-08-29 00:30] wasaga opened #347 "IC interferes with other ICs in the cluster by updating /status/loadBalancer for other Ingress objects"
## What happened?

[As reported](https://discuss.pomerium.com/t/kubernetes-ingress-controller-v0-18-0-ingress-controller-is-processing-non-pomerium-ingresses/148), Pomerium IC may interfere with other Ingress Controllers by updating `/status/loadBalancer` on the Ingress during _initial_ bulk sync on start-up, and pointing them to the Pomerium proxy IP address, that would break them, as they're all

[2022-08-29 22:13] #12 closed

[2022-08-30 21:51] #347 closed

[2022-09-04 09:35] boskisam commented on #142
@travisgroth pinging again. Is the info I provided enough to start some investigation?

[2022-09-06 02:15] desimone commented on #142
Possibly Related (and closed by) https://github.com/pomerium/pomerium/pull/3596

History:
- https://github.com/pomerium/pomerium/issues/2150
- https://github.com/pomerium/pomerium/pull/3596
- https://github.com/pomerium/internal/issues/972

[2022-09-08 15:44] wasaga commented on #142
You need create a certificate for the authenticate endpoint.

Assuming the following:
- you are using `cert-manager` to manage certificates in your cluster,
- you have a `letsencrypt-prod` `ClusterIssuer`
- your authenticate endpoint is `authenticate.corp.com`
- you deployed pomerium using new recommended manifests + CRD method

Certificate spec:

[code]

the following should be added into your `p

[2022-09-09 16:00] #335 closed

[2022-09-15 14:28] tombotch opened #368 "Add support for jwt_claims_headers configuration options"
**Is your feature request related to a problem? Please describe.**

I have an application that uses the X-Pomerium-Claim-* headers. However, there doesn't seem to be a way to enable these to be passed when using the ingress controller, as the configuration option needs to be set as per https://www.pomerium.com/docs/reference/jwt-claim-headers.

**Describe the solution you'd like**

I would like to

[2022-09-16 01:32] drewp commented on #96
For those who landed on this page, the final  annotation spelling is path_regex, like this:
[code]

[2022-09-20 12:41] jawabuu commented on #95
Hey @travisgroth @wasaga kind request to re-introduce `ingress.pomerium.io/to`  annotation
As an optionaI annotation I don't believe it poses any conflict with the pomerium ingress controller.
The upside is that it gives greater flexibility in defining policies in other ingresses. Note that this was functional in pomerium operator.
I'll give you a practical example,
We are able to use forward auth

[2022-09-20 14:48] wasaga commented on #368
global options are already set via CRD - please see https://www.pomerium.com/docs/k8s/reference

we currently do not have a CRD analog for the `Ingress`, thus `jwt_claims_headers` would have to be an annotation.

[2022-09-29 17:28] wasaga opened #377 "report upcoming flags deprecation and removal"
**Is your feature request related to a problem? Please describe.**

Currently, configuration are organized around CRD and Ingress spec, with additional annotations, that aim to closely reflect the features exposed by the Pomerium core.

Sometimes, features in Core get reorganized (i.e. Policies became Routes), some features or flags may be experimental, deprecated or removed.

We need have a way t

[2022-10-23 16:07] adrianlzt opened #402 "It is assumed that configured cluster domain is always "cluster.local""
## What happened?
Under [some circumstances](https://github.com/pomerium/ingress-controller/blob/553a780afdef05592c0fb5d48d6241ed58f98bfb/pomerium/ingress_to_route.go#L238), Pomerium could configure the destination endpoint with the format ``BACKEND.NAMESPACE.svc.cluster.local``.

This is assuming the cluster domain is always ``cluster.local``, that could be not the case. In Kubspray, for example,

[2022-10-24 04:09] wasaga commented on #402
Currently, endpoints are selected by default, one would have to apply 'use_service_proxy' annotation to the ingress in order to enable that mode.

We may probably have another annotation 'service_proxy_domain', that would default to 'svc.cluster.local'.

[2022-10-24 06:08] adrianlzt commented on #402
In fact I found this _error_ because endpoint selection was not working (https://github.com/pomerium/ingress-controller/pull/400).

Endpoints will be used also if protocol is https, right? https://github.com/pomerium/ingress-controller/blob/553a780afdef05592c0fb5d48d6241ed58f98bfb/pomerium/ingress_to_route.go#L247

[2022-10-25 03:39] wasaga commented on #402
yes

[2022-10-25 07:24] adrianlzt commented on #402
Sorry, I meant that the URL with ``cluster.local`` is used if protocol is https:

https://github.com/pomerium/ingress-controller/blob/553a780afdef05592c0fb5d48d6241ed58f98bfb/pomerium/ingress_to_route.go#L248

[2022-10-25 14:39] wasaga commented on #402
As endpoints are just IP addresses, we need figure out TLS server name, thus it's another place where we try to guess FQDN of a service.

Do you want to update your PR and add an (optional) annotation to customize the service FQDN suffix to be something different from 'cluster.local' (the default) ?

[2022-10-25 15:30] adrianlzt commented on #402
What about removing it completely and relaying in the _search_ of resolv.conf?

[2022-11-02 18:07] casa87 opened #416 "add support for cookie_domain and cookie_name"
**Is your feature request related to a problem? Please describe.**
Trying to migrate from Pomerium to Pomerium Ingress-controller, my applications are doing some XHR calls to other subdomain, having the
cookie with a common domain to all my routes would help with the authentication of the requests.

**Describe the solution you'd like**
support for cookie_domain and cookie_name in the Pomerium defi

[2022-11-08 18:23] #377 closed

[2022-11-09 20:57] #416 closed

[2022-11-10 17:03] #368 closed

[2022-11-23 15:50] tombotch opened #441 "Pomerium returns 404 for all routes after upgrading to v0.20.0"
## What happened?
After upgrading to v0.20.0, any requests to a Pomerium URL return a 404 error. This includes accessing an ingress URL or the authenticate URL. The following log entries are continually repeated multiple times per second:

[code]

Accessing the authenticate URL causes a redirect to [https://127.0.0.1/.pomerium/](https://127.0.0.1/.pomerium/).

Downgrading to v0.19.0 solves the iss

[2022-11-23 20:11] wasaga commented on #441
1. could you please provide more logs from your deployment?
2. what is the output of `kubectl describe pomerium`? 404 means
3. we may be able to troubleshoot interactively - please join https://pomerium-io.slack.com

[2022-11-23 20:23] wasaga commented on #441
side note:
[code]

is not a correct format. see [reference](https://www.pomerium.com/docs/k8s/reference) - it is a string:string map, with first parameter being an HTTP header name. It also places the requested claim into JWT assertion token. So the correct syntax should be

[code]

[2022-11-24 09:08] tombotch commented on #441
Looking through the logs, I've noticed that the following error is logged whenever I access a route:

[code]

The service account isn't being set in the Pomerium CRD. There is a service account included in the provider secret, but I have tried removing this and this error is still present.

kubectl describe shows the following:

[code]

[2022-11-24 11:40] tombotch commented on #441
I've managed to fix this. I scaled down the deployment, cleared all of the data from the PostgreSQL database using the command `drop owned by <db_user>`, and scaled the deployment back up. The errors are no longer present in the logs, and the routes work as expected.

[2022-11-24 11:40] #441 closed

[2022-11-24 16:42] wasaga commented on #441
until a fix is released, a workaround is:

1. stop the Pomerium by removing deployment
[code]

2. connect to your databroker PostgreSQL and execute
[code]

3. upgrade Pomerium.